/* pantone 7478 C -- 7484 C
 * color: #8CDFB2;
 * color: #18B65C;
 * color: #13913C;
 * color: #094630;
 * color: #003721;
 */

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  background: #094630;
  /* background: #003721; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

#menu {
  top: 0;
  margin-bottom: 80px;
  background: #094630;
  background: #13913C;
  /* background: #18B65C; */
  color: white;
  padding: 8px 8px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 16px;

  margin: 0;
}

#menu .title, #menu a:link, #menu a:visited {
  color: white;
  border: none;
  font-size: 15px;
}

#menu a {
  font-weight: bold;
}

#menu .noframes {
  display: none;
}

#search {
  top: 0;
  left: 0;
  position: relative;
  display: block;
  padding: 16px;
  background: #8CDFB2;
  /* background: #18B65C; */
  /* background: #13913C; */
  text-align: right;
}

#search:before {
  content: "VectorSalad";
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  float: left;
  margin-top: -4px;
  color: #094630;
  color: #003721;
}

#search a:link, #search a:visited {
  border-radius: 20px;
  box-shadow: none;
  font-size: 16px;
  line-height: 16px;
  padding: 12px;
  background: #18B65C;
  /* background: #13913C; */
  border: none;
  color: white;
  display: inline-block;
  float: none;
}

#search a.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 16px;
}

#file_list_link:after {
  content: "Guides";
  font-size: 16px;
  line-height: 16px;
}

#search a#file_list_link {
  font-size: 0;
  line-height: 0;
}

#search_frame {
  top: 92px;
  right: 20px;
  border: 4px solid #18B65C;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#content {
  margin: 28px auto 0 auto;
  max-width: 800px;
  background: white;
  padding: 16px;
}

h1 {
  padding-top: 0;
  border-top: 0;
  margin-top: 0;
}

#content a:link, #content a:visited {
  color: #094630;
}

#content a:hover {
  background: #8CDFB2;
}

#filecontents dl.box, dl.box {
  width: auto;
}

#filecontents dl.box dt, dl.box dt {
  width: 100px;
  border-width: 1px 0 0 0;
  line-height: 16px;
}

#filecontents dl.box dd, dl.box dd {
  width: calc(100% - 110px - 10px);
  padding-right: 10px;
  border-width: 1px 0 0 0;
  line-height: 16px;
}

svg, img {
  display: block;
  position: relative;
  margin: 20px auto;
}

img {
  width: auto;
  max-width: 100%;
}

img[src*="@2x"] {
  zoom: 50%;
}

a img {
  display: inline;
  margin: 0;
}

#filecontents pre.code, .docstring pre.code, .tags pre.example {
  background: #cfe;
}

#toc {
  box-shadow: none;
  padding: 16px;
  background: #fafafa;
}

#toc a:link, #toc a:visited {
  color: #000;
}

#toc ol {
  margin-bottom: 0;
}

p.signature, h3.signature,
.summary .summary_signature,
#content .summary .summary_signature a:link,
#content .summary .summary_signature a:visited {
  background: #8CDFB2;
  color: #094630;
  border: none;
  cursor: pointer;
  padding: 0 4px;
  display: inline-block;
}

.note.title.readonly,
.note.title.constructor {
  background: #094630;
  color: white;
  border: none;
}

#footer {
  color: white;
  border-top: 0;
}

#footer a:link, #footer a:visited {
  color: white;
}

/* syntax highlighting */
.source_code { display: none; padding: 0 8px 0 0; border-left: 8px solid #8CDFB2; margin-top: 4px; }
#filecontents pre.code, .docstring pre.code, .source_code pre { font-family: monospace; }
#filecontents pre.code, .docstring pre.code { display: block; }
.source_code .lines { padding: 0 4px 0 8px; color: #6B7C7F; text-align: right; }
.source_code td:first-child { background: #1A1C1C;background: #094630; }
#filecontents pre.code, .docstring pre.code,
.tags pre.example { padding: 5px 12px; margin-top: 4px; border: 1px solid #eef; background: #003721; }
pre.code, .source_code { color: #f8f8f2; background: #003721; }
pre.code .val { color: #036A07; }
pre.code .tstring_content,
pre.code .heredoc_beg, pre.code .heredoc_end,
pre.code .qwords_beg, pre.code .qwords_end,
pre.code .tstring, pre.code .dstring { color: #E6DB74; }
pre.code .fid, pre.code .rubyid_new, pre.code .rubyid_to_s,
pre.code .rubyid_to_sym, pre.code .rubyid_to_f,
pre.code .dot + pre.code .id,
pre.code .rubyid_to_i pre.code .rubyid_each { color: #66D9EF; }
pre.code .comment,
pre.code .info.file { color: #6B7C7F; }
pre.code .const, pre.code .constant { color: #51D1EA; }
pre.code .label,
pre.code .symbol,
pre.code .int, pre.code .float { color: #9D65FF; font-weight: bold; }
pre.code .kw,
pre.code .rubyid_require,
pre.code .rubyid_extend,
pre.code .rubyid_include { color: #F92672; font-weight: bold; }
pre.code .ivar { color: #FA841A; }
pre.code .gvar,
pre.code .rubyid_backref,
pre.code .rubyid_nth_ref { color: #6D79DE; }
pre.code .regexp, .dregexp { color: #036A07; }
pre.code a { border-bottom: 1px dotted #bbf; }
/* pre.code .id, pre.code .identifier { color: #95f067; } */
/* pre.code .op { color: #95f067; } */

@media screen and (max-width: 640px) {
  #toc,
  #search:before {
    display: none;
  }

  body {
    font-size: 14px;
  }
}
